.input_div{
  display: grid;
  grid-template-rows: auto auto auto;
  align-content: space-between;
  width: 260px;
  margin: 10px 0;
  /* background-color: gray; */
  height: 60px;
}
.input{
  font-size: 17px;
  padding: 3px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 5px;
}
.input:focus{
  border: 1px solid goldenrod;
}